<H3>vbScript Color Coder</H3>

Convert vbScript to HTML to display scripts on a web page.
See a 
<A href="demo.htm">demonstration</A>
of this script sent to the color coder.

<FORM action="ColorIt.asp" method="post">
	<TABLE>
		<TR>
			<TD bgcolor="silver">Title</TD>
			<TD><INPUT name="Title"></TD>
		</TR>
		<TR>
			<TD bgcolor="silver">Keywords</TD>
			<TD><INPUT name="keywords" size="50"></TD>
		</TR>
		<TR>
			<TD bgcolor="silver">Description</TD>
			<TD><INPUT name="description" size="50"></TD>
		</TR>
		<TR>
			<TD bgcolor="silver">vbScript</TD>
			<TD><TEXTAREA name="code" cols="50" rows="8" wrap="virtual"></TEXTAREA></TD>
		</TR>
		<TR>
			<TD bgcolor="silver" colspan="2" align="right"><INPUT type="submit"></TD>
		</TR>
	</TABLE>
	
</FORM>