<LINK rel="stylesheet" type="text/css" href="vbColorCode.css">
<NOBR><DIV class="vbScript"><SPAN class="Operator">&lt;</SPAN><SPAN class="">%</SPAN><BR>
<SPAN class="Reserved">Class</SPAN> <SPAN class="">clsVBColor</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;<BR>
&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">Private</SPAN> <SPAN class="">mStrReservedAry</SPAN>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Comment">' Array of Reserved Words in this langauge</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">Private</SPAN> <SPAN class="">mStrConstantAry</SPAN>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Comment">' Array of recognized constants</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">Private</SPAN> <SPAN class="">mStrFunctionAry</SPAN>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Comment">' Array of recognized functions</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">Private</SPAN> <SPAN class="">mStrMethodAry</SPAN>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Comment">' Array of recognized methods</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">Private</SPAN> <SPAN class="">mStrPropertyAry</SPAN>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Comment">' Array of recognized properties</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">Private</SPAN> <SPAN class="">mStrStatementAry</SPAN>&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Comment">' Array of recognized statments</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">Private</SPAN> <SPAN class="">mStrOperatorAry</SPAN>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Comment">' Array of recognized operators</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">Private</SPAN> <SPAN class="">mStrSeperatorAry</SPAN>&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Comment">' Array of single characters that seperate words.</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;<BR>
&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">Private</SPAN> <SPAN class="">mStrStringCharacter</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">Private</SPAN> <SPAN class="">mStrLineCommentCharacter</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">Private</SPAN> <SPAN class="">mStrLineCommentContinueCharacter</SPAN><BR>
<SPAN class="Comment">' ------------------------------------------------------------------------------</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">Private</SPAN> <SPAN class="Reserved">Sub</SPAN> <SPAN class="">Class_Initialize</SPAN>()<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="">mStrStringCharacter</SPAN> <SPAN class="Operator">=</SPAN> <SPAN class="String">&quot;&quot;</SPAN><SPAN class="String">&quot;&quot;</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="">mStrLineCommentCharacter</SPAN> <SPAN class="Operator">=</SPAN> <SPAN class="String">&quot;'&quot;</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="">mStrLineCommentContinueCharacter</SPAN> <SPAN class="Operator">=</SPAN> <SPAN class="String">&quot;_&quot;</SPAN><BR>
<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Comment">' Define a list of characters that seperate words from next character.</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="">mStrSeperatorAry</SPAN> <SPAN class="Operator">=</SPAN> <SPAN class="Reserved">Array</SPAN>(<SPAN class="String">&quot; &quot;</SPAN>, <SPAN class="Constant">vbTab</SPAN>, <SPAN class="String">&quot;:&quot;</SPAN>, <SPAN class="String">&quot;(&quot;</SPAN>, <SPAN class="String">&quot;)&quot;</SPAN>, <SPAN class="String">&quot;,&quot;</SPAN>, <SPAN class="String">&quot;'&quot;</SPAN>)<BR>
<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Comment">' Define a list of Reserved Words</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="">mStrReservedAry</SPAN> <SPAN class="Operator">=</SPAN> <SPAN class="Reserved">Array</SPAN>( <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;And&quot;</SPAN>, <SPAN class="String">&quot;Array&quot;</SPAN>, <SPAN class="String">&quot;As&quot;</SPAN>, <SPAN class="String">&quot;Boolean&quot;</SPAN>, <SPAN class="String">&quot;ByRef&quot;</SPAN>, <SPAN class="String">&quot;Byte&quot;</SPAN>, <SPAN class="String">&quot;ByVal&quot;</SPAN>, <SPAN class="String">&quot;Call&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Case&quot;</SPAN>, <SPAN class="String">&quot;CBool&quot;</SPAN>, <SPAN class="String">&quot;CByte&quot;</SPAN>, <SPAN class="String">&quot;CCur&quot;</SPAN>, <SPAN class="String">&quot;CDate&quot;</SPAN>, <SPAN class="String">&quot;CDbl&quot;</SPAN>, <SPAN class="String">&quot;CDec&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Class&quot;</SPAN>, <SPAN class="String">&quot;Close&quot;</SPAN>, <SPAN class="String">&quot;CInt&quot;</SPAN>, <SPAN class="String">&quot;CLng&quot;</SPAN>, <SPAN class="String">&quot;Const&quot;</SPAN>, <SPAN class="String">&quot;CSng&quot;</SPAN>, <SPAN class="String">&quot;CStr&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Currency&quot;</SPAN>, <SPAN class="String">&quot;CVar&quot;</SPAN>, <SPAN class="String">&quot;Date&quot;</SPAN>, <SPAN class="String">&quot;Decimal&quot;</SPAN>, <SPAN class="String">&quot;Declare&quot;</SPAN>, <SPAN class="String">&quot;DefBool&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;DefByte&quot;</SPAN>, <SPAN class="String">&quot;DefCur&quot;</SPAN>, <SPAN class="String">&quot;DefDate&quot;</SPAN>, <SPAN class="String">&quot;DefDbl&quot;</SPAN>, <SPAN class="String">&quot;DefInt&quot;</SPAN>, <SPAN class="String">&quot;DefLng&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;DefSng&quot;</SPAN>, <SPAN class="String">&quot;DefStr&quot;</SPAN>, <SPAN class="String">&quot;DefVar&quot;</SPAN>, <SPAN class="String">&quot;Dim&quot;</SPAN>, <SPAN class="String">&quot;Do&quot;</SPAN>, <SPAN class="String">&quot;Double&quot;</SPAN>, <SPAN class="String">&quot;Each&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Else&quot;</SPAN>, <SPAN class="String">&quot;ElseIf&quot;</SPAN>, <SPAN class="String">&quot;Empty&quot;</SPAN>, <SPAN class="String">&quot;End&quot;</SPAN>, <SPAN class="String">&quot;Enum&quot;</SPAN>, <SPAN class="String">&quot;Eqv&quot;</SPAN>, <SPAN class="String">&quot;Erase&quot;</SPAN>, <SPAN class="String">&quot;Error&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Exit&quot;</SPAN>, <SPAN class="String">&quot;Explicit&quot;</SPAN>, <SPAN class="String">&quot;False&quot;</SPAN>, <SPAN class="String">&quot;Fix&quot;</SPAN>, <SPAN class="String">&quot;For&quot;</SPAN>, <SPAN class="String">&quot;Friend&quot;</SPAN>, <SPAN class="String">&quot;Function&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Get&quot;</SPAN>, <SPAN class="String">&quot;Global&quot;</SPAN>, <SPAN class="String">&quot;If&quot;</SPAN>, <SPAN class="String">&quot;Imp&quot;</SPAN>, <SPAN class="String">&quot;In&quot;</SPAN>, <SPAN class="String">&quot;Input&quot;</SPAN>, <SPAN class="String">&quot;InputB&quot;</SPAN>, <SPAN class="String">&quot;Int&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Integer&quot;</SPAN>, <SPAN class="String">&quot;Is&quot;</SPAN>, <SPAN class="String">&quot;LBound&quot;</SPAN>, <SPAN class="String">&quot;Len&quot;</SPAN>, <SPAN class="String">&quot;LenB&quot;</SPAN>, <SPAN class="String">&quot;Local&quot;</SPAN>, <SPAN class="String">&quot;Lock&quot;</SPAN>, <SPAN class="String">&quot;Long&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Loop&quot;</SPAN>, <SPAN class="String">&quot;Me&quot;</SPAN>, <SPAN class="String">&quot;Mod&quot;</SPAN>, <SPAN class="String">&quot;New&quot;</SPAN>, <SPAN class="String">&quot;Next&quot;</SPAN>, <SPAN class="String">&quot;Not&quot;</SPAN>, <SPAN class="String">&quot;Nothing&quot;</SPAN>, <SPAN class="String">&quot;Null&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Open&quot;</SPAN>, <SPAN class="String">&quot;Option&quot;</SPAN>, <SPAN class="String">&quot;Optional&quot;</SPAN>, <SPAN class="String">&quot;Or&quot;</SPAN>, <SPAN class="String">&quot;On&quot;</SPAN>, <SPAN class="String">&quot;Public&quot;</SPAN>, <SPAN class="String">&quot;Print&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Private&quot;</SPAN>, <SPAN class="String">&quot;Property&quot;</SPAN>, <SPAN class="String">&quot;ReDim&quot;</SPAN>, <SPAN class="String">&quot;Resume&quot;</SPAN>, <SPAN class="String">&quot;Select&quot;</SPAN>, <SPAN class="String">&quot;Set&quot;</SPAN>, <SPAN class="String">&quot;Sgn&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Single&quot;</SPAN>, <SPAN class="String">&quot;String&quot;</SPAN>, <SPAN class="String">&quot;Sub&quot;</SPAN>, <SPAN class="String">&quot;Then&quot;</SPAN>, <SPAN class="String">&quot;To&quot;</SPAN>, <SPAN class="String">&quot;True&quot;</SPAN>, <SPAN class="String">&quot;Type&quot;</SPAN>, <SPAN class="String">&quot;UBound&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;UnLock&quot;</SPAN>, <SPAN class="String">&quot;Variant&quot;</SPAN>, <SPAN class="String">&quot;Wend&quot;</SPAN>, <SPAN class="String">&quot;While&quot;</SPAN>, <SPAN class="String">&quot;With&quot;</SPAN>, <SPAN class="String">&quot;Write&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Implements&quot;</SPAN>, <SPAN class="String">&quot;Compare&quot;</SPAN>, <SPAN class="String">&quot;Text&quot;</SPAN>, <SPAN class="String">&quot;Let&quot;</SPAN> <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;)<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Comment">'mStrReservedAry = Array()</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Comment">' Define a list of Constants</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="">mStrConstantAry</SPAN> <SPAN class="Operator">=</SPAN> <SPAN class="Reserved">Array</SPAN>( <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;vbAbort&quot;</SPAN>, <SPAN class="String">&quot;vbAbortRetryIgnore&quot;</SPAN>, <SPAN class="String">&quot;vbApplicationModal&quot;</SPAN>, <SPAN class="String">&quot;vbArray&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;vbBinaryCompare&quot;</SPAN>, <SPAN class="String">&quot;vbBlack&quot;</SPAN>, <SPAN class="String">&quot;vbBlue&quot;</SPAN>, <SPAN class="String">&quot;vbBoolean&quot;</SPAN>, <SPAN class="String">&quot;vbByte&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;vbCancel&quot;</SPAN>, <SPAN class="String">&quot;vbCr&quot;</SPAN>, <SPAN class="String">&quot;vbCritical&quot;</SPAN>, <SPAN class="String">&quot;vbCrLf&quot;</SPAN>, <SPAN class="String">&quot;vbCurrency&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;vbCyan&quot;</SPAN>, <SPAN class="String">&quot;vbDatabaseCompare&quot;</SPAN>, <SPAN class="String">&quot;vbDataObject&quot;</SPAN>, <SPAN class="String">&quot;vbDate&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;vbDecimal&quot;</SPAN>, <SPAN class="String">&quot;vbDefaultButton1&quot;</SPAN>, <SPAN class="String">&quot;vbDefaultButton2&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;vbDefaultButton3&quot;</SPAN>, <SPAN class="String">&quot;vbDefaultButton4&quot;</SPAN>, <SPAN class="String">&quot;vbDouble&quot;</SPAN>, <SPAN class="String">&quot;vbEmpty&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;vbError&quot;</SPAN>, <SPAN class="String">&quot;vbExclamation&quot;</SPAN>, <SPAN class="String">&quot;vbFalse&quot;</SPAN>, <SPAN class="String">&quot;vbFirstFourDays&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;vbFirstFullWeek&quot;</SPAN>, <SPAN class="String">&quot;vbFirstJan1&quot;</SPAN>, <SPAN class="String">&quot;vbFormFeed&quot;</SPAN>, <SPAN class="String">&quot;vbFriday&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;vbGeneralDate&quot;</SPAN>, <SPAN class="String">&quot;vbGreen&quot;</SPAN>, <SPAN class="String">&quot;vbIgnore&quot;</SPAN>, <SPAN class="String">&quot;vbInformation&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;vbInteger&quot;</SPAN>, <SPAN class="String">&quot;vbLf&quot;</SPAN>, <SPAN class="String">&quot;vbLong&quot;</SPAN>, <SPAN class="String">&quot;vbLongDate&quot;</SPAN>, <SPAN class="String">&quot;vbLongTime&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;vbMagenta&quot;</SPAN>, <SPAN class="String">&quot;vbMonday&quot;</SPAN>, <SPAN class="String">&quot;vbNewLine&quot;</SPAN>, <SPAN class="String">&quot;vbNo&quot;</SPAN>, <SPAN class="String">&quot;vbNull&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;vbNullChar&quot;</SPAN>, <SPAN class="String">&quot;vbNullString&quot;</SPAN>, <SPAN class="String">&quot;vbObject&quot;</SPAN>, <SPAN class="String">&quot;vbObjectError&quot;</SPAN>, <SPAN class="String">&quot;vbOK&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;vbOKCancel&quot;</SPAN>, <SPAN class="String">&quot;vbOKOnly&quot;</SPAN>, <SPAN class="String">&quot;vbQuestion&quot;</SPAN>, <SPAN class="String">&quot;vbRed&quot;</SPAN>, <SPAN class="String">&quot;vbRetry&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;vbRetryCancel&quot;</SPAN>, <SPAN class="String">&quot;vbSaturday&quot;</SPAN>, <SPAN class="String">&quot;vbShortDate&quot;</SPAN>, <SPAN class="String">&quot;vbShortTime&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;vbSingle&quot;</SPAN>, <SPAN class="String">&quot;vbString&quot;</SPAN>, <SPAN class="String">&quot;vbSunday&quot;</SPAN>, <SPAN class="String">&quot;vbSystemModal&quot;</SPAN>, <SPAN class="String">&quot;vbTab&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;vbTextCompare&quot;</SPAN>, <SPAN class="String">&quot;vbThursday&quot;</SPAN>, <SPAN class="String">&quot;vbTrue&quot;</SPAN>, <SPAN class="String">&quot;vbTuesday&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;vbUseDefault&quot;</SPAN>, <SPAN class="String">&quot;vbUseSystem&quot;</SPAN>, <SPAN class="String">&quot;vbUseSystemDayOfWeek&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;vbVariant&quot;</SPAN>, <SPAN class="String">&quot;vbVerticalTab&quot;</SPAN>, <SPAN class="String">&quot;vbWednesday&quot;</SPAN>, <SPAN class="String">&quot;vbWhite&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;vbYellow&quot;</SPAN>, <SPAN class="String">&quot;vbYes&quot;</SPAN>, <SPAN class="String">&quot;vbYesNo&quot;</SPAN>, <SPAN class="String">&quot;vbYesNoCancel&quot;</SPAN> <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;)<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Comment">' Define a list of Functions</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="">mStrFunctionAry</SPAN> <SPAN class="Operator">=</SPAN> <SPAN class="Reserved">Array</SPAN>( <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Abs&quot;</SPAN>, <SPAN class="String">&quot;Array&quot;</SPAN>, <SPAN class="String">&quot;Asc&quot;</SPAN>, <SPAN class="String">&quot;Atn&quot;</SPAN>, <SPAN class="String">&quot;CBool&quot;</SPAN>, <SPAN class="String">&quot;CByte&quot;</SPAN>, <SPAN class="String">&quot;CCur&quot;</SPAN>, <SPAN class="String">&quot;CDate&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;CDbl&quot;</SPAN>, <SPAN class="String">&quot;Chr&quot;</SPAN>, <SPAN class="String">&quot;CInt&quot;</SPAN>, <SPAN class="String">&quot;CLng&quot;</SPAN>, <SPAN class="String">&quot;Cos&quot;</SPAN>, <SPAN class="String">&quot;CreateObject&quot;</SPAN>, <SPAN class="String">&quot;CSng&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;CStr&quot;</SPAN>, <SPAN class="String">&quot;Date&quot;</SPAN>, <SPAN class="String">&quot;DateAdd&quot;</SPAN>, <SPAN class="String">&quot;DateDiff&quot;</SPAN>, <SPAN class="String">&quot;DatePart&quot;</SPAN>, <SPAN class="String">&quot;DateSerial&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;DateValue&quot;</SPAN>, <SPAN class="String">&quot;Day&quot;</SPAN>, <SPAN class="String">&quot;Exp&quot;</SPAN>, <SPAN class="String">&quot;Filter&quot;</SPAN>, <SPAN class="String">&quot;Fix&quot;</SPAN>, <SPAN class="String">&quot;FormatCurrency&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;FormatDateTime&quot;</SPAN>, <SPAN class="String">&quot;FormatNumber&quot;</SPAN>, <SPAN class="String">&quot;FormatPercent&quot;</SPAN>, <SPAN class="String">&quot;GetObject&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Hex&quot;</SPAN>, <SPAN class="String">&quot;Hour&quot;</SPAN>, <SPAN class="String">&quot;InputBox&quot;</SPAN>, <SPAN class="String">&quot;InStr&quot;</SPAN>, <SPAN class="String">&quot;InStrRev&quot;</SPAN>, <SPAN class="String">&quot;Int&quot;</SPAN>, <SPAN class="String">&quot;IsArray&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;IsDate&quot;</SPAN>, <SPAN class="String">&quot;IsEmpty&quot;</SPAN>, <SPAN class="String">&quot;IsNull&quot;</SPAN>, <SPAN class="String">&quot;IsNumeric&quot;</SPAN>, <SPAN class="String">&quot;IsObject&quot;</SPAN>, <SPAN class="String">&quot;Join&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;LBound&quot;</SPAN>, <SPAN class="String">&quot;LCase&quot;</SPAN>, <SPAN class="String">&quot;Left&quot;</SPAN>, <SPAN class="String">&quot;Len&quot;</SPAN>, <SPAN class="String">&quot;LoadPicture&quot;</SPAN>, <SPAN class="String">&quot;Log&quot;</SPAN>, <SPAN class="String">&quot;LTrim&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Mid&quot;</SPAN>, <SPAN class="String">&quot;Minute&quot;</SPAN>, <SPAN class="String">&quot;Month&quot;</SPAN>, <SPAN class="String">&quot;MonthName&quot;</SPAN>, <SPAN class="String">&quot;MsgBox&quot;</SPAN>, <SPAN class="String">&quot;Now&quot;</SPAN>, <SPAN class="String">&quot;Oct&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Replace&quot;</SPAN>, <SPAN class="String">&quot;RGB&quot;</SPAN>, <SPAN class="String">&quot;Right&quot;</SPAN>, <SPAN class="String">&quot;Rnd&quot;</SPAN>, <SPAN class="String">&quot;Round&quot;</SPAN>, <SPAN class="String">&quot;RTrim&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;ScriptEngine&quot;</SPAN>, <SPAN class="String">&quot;ScriptEngineBuildVersion&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;ScriptEngineMajorVersion&quot;</SPAN>, <SPAN class="String">&quot;ScriptEngineMinorVersion&quot;</SPAN>, <SPAN class="String">&quot;Second&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Sgn&quot;</SPAN>, <SPAN class="String">&quot;Sin&quot;</SPAN>, <SPAN class="String">&quot;Space&quot;</SPAN>, <SPAN class="String">&quot;Split&quot;</SPAN>, <SPAN class="String">&quot;Sqr&quot;</SPAN>, <SPAN class="String">&quot;StrComp&quot;</SPAN>, <SPAN class="String">&quot;StrReverse&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;String&quot;</SPAN>, <SPAN class="String">&quot;Tan&quot;</SPAN>, <SPAN class="String">&quot;TimeSerial&quot;</SPAN>, <SPAN class="String">&quot;TimeValue&quot;</SPAN>, <SPAN class="String">&quot;Trim&quot;</SPAN>, <SPAN class="String">&quot;TypeName&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;UBound&quot;</SPAN>, <SPAN class="String">&quot;UCase&quot;</SPAN>, <SPAN class="String">&quot;VarType&quot;</SPAN>, <SPAN class="String">&quot;Weekday&quot;</SPAN>, <SPAN class="String">&quot;WeekdayName&quot;</SPAN>, <SPAN class="String">&quot;Year&quot;</SPAN> <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;)<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Comment">' Define a list of Methods</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="">mStrMethodAry</SPAN> <SPAN class="Operator">=</SPAN> <SPAN class="Reserved">Array</SPAN>( <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Application.Lock&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Application.UnLock&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Err.Clear&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Err.Raise&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Request.BinaryRead&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Response.AddHeader&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Response.AppendToLog&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Response.BinaryWrite&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Response.Clear&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Response.End&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Response.Flush&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Response.IsClientConnected&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Response.Pics&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Response.Redirect&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Response.Write&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;ScriptEngine&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;ScriptEngineBuildVersion&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;ScriptEngineMajorVersion&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;ScriptEngineMinorVersion&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Server.CreateObject&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Server.HTMLEncode&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Server.MapPath&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Server.URLEncode&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Server.URLPathEncode&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Session.Abandon&quot;</SPAN> <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;)<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Comment">' Define a list of properties</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="">mStrPropertyAry</SPAN> <SPAN class="Operator">=</SPAN> <SPAN class="Reserved">Array</SPAN>( <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Application.Contents&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Application.Contents.Count&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Application.Contents.Item&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Application.Contents.Key&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Application.StaticObjects&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Application.StaticObjects.Count&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Application.StaticObjects.Item&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Application.StaticObjects.Key&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Application.Value&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Err.description&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Err.helpcontext&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Err.helpfile&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Err.number&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Err.source&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Request.ClientCertificate&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Request.ClientCertificate.Count&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Request.ClientCertificate.Item&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Request.ClientCertificate.Key&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Request.Cookies&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Request.Cookies.Count&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Request.Cookies.Item&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Request.Cookies.Key&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Request.Form&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Request.Form.Count&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Request.Form.Item&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Request.Form.Key&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Request.Item&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Request.QueryString&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Request.QueryString.Count&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Request.QueryString.Item&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Request.QueryString.Key&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Request.ServerVariables&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Request.ServerVariables.Count&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Request.ServerVariables.Item&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Request.ServerVariables.Key&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Request.TotalBytes&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Response.Buffer&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Response.CacheControl&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Response.CharSet&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Response.ContentType&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Response.Cookies&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Response.Cookies.Count&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Response.Cookies.Item&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Response.Cookies.Key&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Response.Expires&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Response.ExpiresAbsolute&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Response.Status&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Server.ScriptTimeout&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Session.CodePage&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Session.Contents&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Session.Contents.Count&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Session.Contents.Item&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Session.Contents.Key&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Session.LCID&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Session.SessionID&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Session.StaticObjects&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Session.StaticObjects.Count&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Session.StaticObjects.Item&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Session.StaticObjects.Key&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Session.Timeout&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Session.Value&quot;</SPAN> <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;)<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Comment">' Define a list of operators</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="">mStrOperatorAry</SPAN> <SPAN class="Operator">=</SPAN> <SPAN class="Reserved">Array</SPAN>(<SPAN class="String">&quot;+&quot;</SPAN>, <SPAN class="String">&quot;=&quot;</SPAN>, <SPAN class="String">&quot;&amp;&quot;</SPAN>, <SPAN class="String">&quot;/&quot;</SPAN>, <SPAN class="String">&quot;^&quot;</SPAN>, <SPAN class="String">&quot;Imp&quot;</SPAN>, <SPAN class="String">&quot;\&quot;</SPAN>, <SPAN class="String">&quot;Is&quot;</SPAN>, <SPAN class="String">&quot;Mod&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;*&quot;</SPAN>, <SPAN class="String">&quot;-&quot;</SPAN>, <SPAN class="String">&quot;Not&quot;</SPAN>, <SPAN class="String">&quot;Or&quot;</SPAN>, <SPAN class="String">&quot;-&quot;</SPAN>, <SPAN class="String">&quot;Xor&quot;</SPAN>, <SPAN class="String">&quot;&gt;&quot;</SPAN>, <SPAN class="String">&quot;&lt;&quot;</SPAN>)<BR>
<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Comment">' Define a list of statements</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="">mStrStatementAry</SPAN> <SPAN class="Operator">=</SPAN> <SPAN class="Reserved">Array</SPAN>( <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Call&quot;</SPAN>, <SPAN class="String">&quot;Case&quot;</SPAN>, <SPAN class="String">&quot;Const&quot;</SPAN>, <SPAN class="String">&quot;Dim&quot;</SPAN>, <SPAN class="String">&quot;Do&quot;</SPAN>, <SPAN class="String">&quot;Loop&quot;</SPAN>, <SPAN class="String">&quot;Erase&quot;</SPAN>, <SPAN class="String">&quot;Exit&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;For&quot;</SPAN>, <SPAN class="String">&quot;Next&quot;</SPAN>, <SPAN class="String">&quot;Each&quot;</SPAN>, <SPAN class="String">&quot;Function&quot;</SPAN>, <SPAN class="String">&quot;If&quot;</SPAN>, <SPAN class="String">&quot;Then&quot;</SPAN>, <SPAN class="String">&quot;Else&quot;</SPAN>, <SPAN class="String">&quot;On&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;Error&quot;</SPAN>, <SPAN class="String">&quot;Option&quot;</SPAN>, <SPAN class="String">&quot;Explicit&quot;</SPAN>, <SPAN class="String">&quot;Private&quot;</SPAN>, <SPAN class="String">&quot;Public&quot;</SPAN>, <SPAN class="String">&quot;Randomize&quot;</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;ReDim&quot;</SPAN>, <SPAN class="String">&quot;Select&quot;</SPAN>, <SPAN class="String">&quot;Set&quot;</SPAN>, <SPAN class="String">&quot;Sub&quot;</SPAN>, <SPAN class="String">&quot;While&quot;</SPAN>, <SPAN class="String">&quot;Wend&quot;</SPAN> <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;)<BR>
&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">End</SPAN> <SPAN class="Reserved">Sub</SPAN><BR>
<SPAN class="Comment">' -----------------------------------------------------------------------------</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">Public</SPAN> <SPAN class="Reserved">Function</SPAN> <SPAN class="">Colorize</SPAN>(<SPAN class="Reserved">ByRef</SPAN> <SPAN class="">NewCode</SPAN>)<BR>
<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">Dim</SPAN> <SPAN class="">lStrLine</SPAN>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Comment">' A single line within the code passed to the procedure</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">Dim</SPAN> <SPAN class="">lStrCharacter</SPAN>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Comment">' A single character within the current line being looked at.</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">Dim</SPAN> <SPAN class="">lStrString</SPAN>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Comment">' Contents of a string</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">Dim</SPAN> <SPAN class="">lLngStart</SPAN>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Comment">' Character Start Position that we are looking at.</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">Dim</SPAN> <SPAN class="">lStrWord</SPAN>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Comment">' A word being formed from the character being looked at.</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">Dim</SPAN> <SPAN class="">lBlnBuildString</SPAN>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Comment">' Are we building a string?</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">Dim</SPAN> <SPAN class="">lBlnBuildWord</SPAN>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Comment">' Are we building a word?</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">Dim</SPAN> <SPAN class="">lStrNew</SPAN>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Comment">' The new line that is being build from a line sent to this procedure.</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">Dim</SPAN> <SPAN class="">lBlnBuildComment</SPAN>&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Comment">' Are we building a comment?</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">Dim</SPAN> <SPAN class="">lStrResult</SPAN>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Comment">' The results to return when this procedure is finnished.</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">Dim</SPAN> <SPAN class="">lLngRealPosition</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">Dim</SPAN> <SPAN class="">lStrLines</SPAN>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Comment">' Array of lines sent to this procedure</SPAN><BR>
<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Comment">' Split NewCode into an array</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="">lStrLines</SPAN> <SPAN class="Operator">=</SPAN> <SPAN class="Function">Split</SPAN>(<SPAN class="">NewCode</SPAN>, <SPAN class="Constant">vbCrLf</SPAN>)<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Comment">'Loop Through Each Line</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">For</SPAN> <SPAN class="Reserved">Each</SPAN> <SPAN class="">lStrLine</SPAN> <SPAN class="Reserved">In</SPAN> <SPAN class="">lStrLines</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="">lBlnBuildString</SPAN> <SPAN class="Operator">=</SPAN> <SPAN class="Reserved">False</SPAN>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Comment">' No, we are not within a string</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="">lBlnBuildWord</SPAN> <SPAN class="Operator">=</SPAN> <SPAN class="Reserved">False</SPAN>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Comment">' No, we are not within a word</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="">lStrNew</SPAN> <SPAN class="Operator">=</SPAN> <SPAN class="String">&quot;&quot;</SPAN>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Comment">' Reset the formated line</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="">lStrWord</SPAN> <SPAN class="Operator">=</SPAN> <SPAN class="String">&quot;&quot;</SPAN>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Comment">' Reset the word</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="">lStrString</SPAN> <SPAN class="Operator">=</SPAN> <SPAN class="String">&quot;&quot;</SPAN>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Comment">' Reset string text</SPAN><BR>
<SPAN class="Comment">'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;lBlnBuildComment = False&nbsp;&nbsp;&nbsp;&nbsp;' No, we are not within a comment</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Comment">' Determine if line has text.</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">If</SPAN> <SPAN class="Reserved">Len</SPAN>(<SPAN class="">lStrLine</SPAN>) <SPAN class="Operator">&gt;</SPAN> <SPAN class="">0</SPAN> <SPAN class="Reserved">Then</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Comment">' Loop through each character in the line.</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="">lLngRealPosition</SPAN> <SPAN class="Operator">=</SPAN> <SPAN class="">0</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">For</SPAN> <SPAN class="">lLngStart</SPAN> <SPAN class="Operator">=</SPAN> <SPAN class="">1</SPAN> <SPAN class="Reserved">To</SPAN> <SPAN class="Reserved">Len</SPAN>(<SPAN class="">lStrLine</SPAN>)<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="">lLngRealPosition</SPAN> <SPAN class="Operator">=</SPAN> <SPAN class="">lLngRealPosition</SPAN> <SPAN class="Operator">+</SPAN> <SPAN class="">1</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="">lStrCharacter</SPAN> <SPAN class="Operator">=</SPAN> <SPAN class="Function">Mid</SPAN>(<SPAN class="">lStrLine</SPAN>, <SPAN class="">lLngStart</SPAN>, <SPAN class="">1</SPAN>) <SPAN class="Comment">' Grab current character</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">If</SPAN> <SPAN class="">lBlnBuildString</SPAN> <SPAN class="Reserved">Then</SPAN> <SPAN class="Comment">' Are we currently in a string?</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="">lStrString</SPAN> <SPAN class="Operator">=</SPAN> <SPAN class="">lStrString</SPAN> <SPAN class="Operator">&amp;</SPAN> <SPAN class="">lStrCharacter</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Comment">' Determine if this character gets us out of the string.</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">If</SPAN> <SPAN class="">lStrCharacter</SPAN> <SPAN class="Operator">=</SPAN> <SPAN class="">mStrStringCharacter</SPAN> <SPAN class="Reserved">Then</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="">lStrNew</SPAN> <SPAN class="Operator">=</SPAN> <SPAN class="">lStrNew</SPAN> <SPAN class="Operator">&amp;</SPAN> <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;&lt;SPAN class=&quot;</SPAN><SPAN class="String">&quot;String&quot;</SPAN><SPAN class="String">&quot;&gt;&quot;</SPAN> <SPAN class="Operator">&amp;</SPAN> <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Method">Server.HTMLEncode</SPAN>(<SPAN class="">lStrString</SPAN>) <SPAN class="Operator">&amp;</SPAN> <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;&lt;/SPAN&gt;&quot;</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="">lStrString</SPAN> <SPAN class="Operator">=</SPAN> <SPAN class="String">&quot;&quot;</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="">lBlnBuildString</SPAN> <SPAN class="Operator">=</SPAN> <SPAN class="Reserved">False</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">End</SPAN> <SPAN class="Reserved">If</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Comment">' Add the current character to the line we are building.</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Comment">'lStrNew = lStrNew &amp; Server.HTMLEncode(lStrCharacter)</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">ElseIf</SPAN> <SPAN class="">lBlnBuildComment</SPAN> <SPAN class="Reserved">Then</SPAN> <SPAN class="Comment">' Are we currently in a comment?</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="">lStrNew</SPAN> <SPAN class="Operator">=</SPAN> <SPAN class="">lStrNew</SPAN> <SPAN class="Operator">&amp;</SPAN> <SPAN class="Method">Server.HTMLEncode</SPAN>(<SPAN class="">lStrCharacter</SPAN>)<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">Else</SPAN> <SPAN class="Comment">' We are not in a string or a comment.</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">If</SPAN> <SPAN class="">lBlnBuildWord</SPAN> <SPAN class="Reserved">Then</SPAN> <SPAN class="Comment">' Are we currently in a word?</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Comment">' Check to see if we have encountered a seperator</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">If</SPAN> <SPAN class="">IsInArray</SPAN>(<SPAN class="">lStrCharacter</SPAN>, <SPAN class="">mStrSeperatorAry</SPAN>, <SPAN class="Reserved">False</SPAN>) <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">Or</SPAN> <SPAN class="">IsInArray</SPAN>(<SPAN class="">lStrCharacter</SPAN>, <SPAN class="">mStrOperatorAry</SPAN>, <SPAN class="Reserved">False</SPAN>) <SPAN class="Reserved">Then</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Comment">' Determine if word is reserved.</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="">lStrNew</SPAN> <SPAN class="Operator">=</SPAN> <SPAN class="">lStrNew</SPAN> <SPAN class="Operator">&amp;</SPAN> <SPAN class="">Word</SPAN>(<SPAN class="">lStrWord</SPAN>)<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">If</SPAN> <SPAN class="">lStrCharacter</SPAN> <SPAN class="Operator">=</SPAN> <SPAN class="">mStrLineCommentCharacter</SPAN> <SPAN class="Reserved">Then</SPAN> <BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Comment">' We are now within a comment.</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="">lBlnBuildComment</SPAN> <SPAN class="Operator">=</SPAN> <SPAN class="Reserved">True</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="">lStrNew</SPAN> <SPAN class="Operator">=</SPAN> <SPAN class="">lStrNew</SPAN> <SPAN class="Operator">&amp;</SPAN> <SPAN class="String">&quot;&lt;SPAN class=&quot;</SPAN><SPAN class="String">&quot;Comment&quot;</SPAN><SPAN class="String">&quot;&gt;&quot;</SPAN> <SPAN class="Operator">&amp;</SPAN> <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="">mStrLineCommentCharacter</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">ElseIf</SPAN> <SPAN class="">IsInArray</SPAN>(<SPAN class="">lStrCharacter</SPAN>, <SPAN class="">mStrOperatorAry</SPAN>, <SPAN class="Reserved">False</SPAN>) <SPAN class="Reserved">Then</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="">lStrNew</SPAN> <SPAN class="Operator">=</SPAN> <SPAN class="">lStrNew</SPAN> <SPAN class="Operator">&amp;</SPAN> <SPAN class="String">&quot;&lt;SPAN class=&quot;</SPAN><SPAN class="String">&quot;Operator&quot;</SPAN><SPAN class="String">&quot;&gt;&quot;</SPAN> <SPAN class="Operator">&amp;</SPAN> <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Method">Server.HTMLEncode</SPAN>(<SPAN class="">lStrCharacter</SPAN>) <SPAN class="Operator">&amp;</SPAN> <SPAN class="String">&quot;&lt;/SPAN&gt;&quot;</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">ElseIf</SPAN> <SPAN class="">lStrCharacter</SPAN> <SPAN class="Operator">=</SPAN> <SPAN class="Constant">vbTab</SPAN> <SPAN class="Reserved">Then</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="">lStrNew</SPAN> <SPAN class="Operator">=</SPAN> <SPAN class="">lStrNew</SPAN> <SPAN class="Operator">&amp;</SPAN> <SPAN class="">Tabs</SPAN>(<SPAN class="">lLngRealPosition</SPAN>)<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">Else</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="">lStrNew</SPAN> <SPAN class="Operator">=</SPAN> <SPAN class="">lStrNew</SPAN> <SPAN class="Operator">&amp;</SPAN> <SPAN class="Method">Server.HTMLEncode</SPAN>(<SPAN class="">lStrCharacter</SPAN>)<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">End</SPAN> <SPAN class="Reserved">If</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Comment">' Reset word variables</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="">lBlnBuildWord</SPAN> <SPAN class="Operator">=</SPAN> <SPAN class="Reserved">False</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="">lStrWord</SPAN> <SPAN class="Operator">=</SPAN> <SPAN class="String">&quot;&quot;</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">Else</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="">lStrWord</SPAN> <SPAN class="Operator">=</SPAN> <SPAN class="">lStrWord</SPAN> <SPAN class="Operator">&amp;</SPAN> <SPAN class="">lStrCharacter</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">End</SPAN> <SPAN class="Reserved">If</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">Else</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">If</SPAN> <SPAN class="">lStrCharacter</SPAN> <SPAN class="Operator">=</SPAN> <SPAN class="">mStrStringCharacter</SPAN> <SPAN class="Reserved">Then</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="">lBlnBuildString</SPAN> <SPAN class="Operator">=</SPAN> <SPAN class="Reserved">True</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="">lStrString</SPAN> <SPAN class="Operator">=</SPAN> <SPAN class="">mStrStringCharacter</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Comment">'lStrNew = lStrNew &amp; mStrStringCharacter</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">ElseIf</SPAN> <SPAN class="">lStrCharacter</SPAN> <SPAN class="Operator">=</SPAN> <SPAN class="">mStrLineCommentCharacter</SPAN> <SPAN class="Reserved">Then</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="">lBlnBuildComment</SPAN> <SPAN class="Operator">=</SPAN> <SPAN class="Reserved">True</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="">lStrNew</SPAN> <SPAN class="Operator">=</SPAN> <SPAN class="">lStrNew</SPAN> <SPAN class="Operator">&amp;</SPAN> <SPAN class="String">&quot;&lt;SPAN class=&quot;</SPAN><SPAN class="String">&quot;Comment&quot;</SPAN><SPAN class="String">&quot;&gt;&quot;</SPAN> <SPAN class="Operator">&amp;</SPAN> <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="">mStrLineCommentCharacter</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">ElseIf</SPAN> <SPAN class="">IsInArray</SPAN>(<SPAN class="">lStrCharacter</SPAN>, <SPAN class="">mStrOperatorAry</SPAN>, <SPAN class="Reserved">False</SPAN>) <SPAN class="Reserved">Then</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="">lStrNew</SPAN> <SPAN class="Operator">=</SPAN> <SPAN class="">lStrNew</SPAN> <SPAN class="Operator">&amp;</SPAN> <SPAN class="String">&quot;&lt;SPAN class=&quot;</SPAN><SPAN class="String">&quot;Operator&quot;</SPAN><SPAN class="String">&quot;&gt;&quot;</SPAN> <SPAN class="Operator">&amp;</SPAN> <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Method">Server.HTMLEncode</SPAN>(<SPAN class="">lStrCharacter</SPAN>) <SPAN class="Operator">&amp;</SPAN> <SPAN class="String">&quot;&lt;/SPAN&gt;&quot;</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">ElseIf</SPAN> <SPAN class="">IsInArray</SPAN>(<SPAN class="">lStrCharacter</SPAN>, <SPAN class="">mStrSeperatorAry</SPAN>, <SPAN class="Reserved">False</SPAN>) <SPAN class="Reserved">Then</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Comment">' we are in a seperator?</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">If</SPAN> <SPAN class="">lStrCharacter</SPAN> <SPAN class="Operator">=</SPAN> <SPAN class="Constant">vbTab</SPAN> <SPAN class="Reserved">Then</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="">lStrNew</SPAN> <SPAN class="Operator">=</SPAN> <SPAN class="">lStrNew</SPAN> <SPAN class="Operator">&amp;</SPAN> <SPAN class="">Tabs</SPAN>(<SPAN class="">lLngRealPosition</SPAN>)<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">Else</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="">lStrNew</SPAN> <SPAN class="Operator">=</SPAN> <SPAN class="">lStrNew</SPAN> <SPAN class="Operator">&amp;</SPAN> <SPAN class="Method">Server.HTMLEncode</SPAN>(<SPAN class="">lStrCharacter</SPAN>)<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">End</SPAN> <SPAN class="Reserved">If</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">Else</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="">lStrWord</SPAN> <SPAN class="Operator">=</SPAN> <SPAN class="">lStrCharacter</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="">lBlnBuildWord</SPAN> <SPAN class="Operator">=</SPAN> <SPAN class="Reserved">True</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">End</SPAN> <SPAN class="Reserved">If</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">End</SPAN> <SPAN class="Reserved">If</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">End</SPAN> <SPAN class="Reserved">If</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">Next</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">End</SPAN> <SPAN class="Reserved">If</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">If</SPAN> <SPAN class="">lBlnBuildComment</SPAN> <SPAN class="Reserved">Then</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Comment">' Determine if next line is commented</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Comment">' Get Rid of White Space</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="">lStrLine</SPAN> <SPAN class="Operator">=</SPAN> <SPAN class="Function">Replace</SPAN>(<SPAN class="">lStrLine</SPAN>, <SPAN class="String">&quot; &quot;</SPAN>, <SPAN class="String">&quot;&quot;</SPAN>)<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="">lStrLine</SPAN> <SPAN class="Operator">=</SPAN> <SPAN class="Function">Replace</SPAN>(<SPAN class="">lStrLine</SPAN>, <SPAN class="Constant">vbTab</SPAN>, <SPAN class="String">&quot;&quot;</SPAN>)<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">If</SPAN> <SPAN class="Reserved">Not</SPAN> <SPAN class="Function">Right</SPAN>(<SPAN class="">lStrLine</SPAN>, <SPAN class="">1</SPAN>) <SPAN class="Operator">=</SPAN> <SPAN class="">mStrLineCommentContinueCharacter</SPAN> <SPAN class="Reserved">Then</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="">lStrNew</SPAN> <SPAN class="Operator">=</SPAN> <SPAN class="">lStrNew</SPAN> <SPAN class="Operator">&amp;</SPAN> <SPAN class="String">&quot;&lt;/SPAN&gt;&quot;</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="">lBlnBuildComment</SPAN> <SPAN class="Operator">=</SPAN> <SPAN class="Reserved">False</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">End</SPAN> <SPAN class="Reserved">If</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">ElseIf</SPAN> <SPAN class="">lBlnBuildWord</SPAN> <SPAN class="Reserved">Then</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Comment">' Determine if word is reserved.</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="">lStrNew</SPAN> <SPAN class="Operator">=</SPAN> <SPAN class="">lStrNew</SPAN> <SPAN class="Operator">&amp;</SPAN> <SPAN class="">Word</SPAN>(<SPAN class="">lStrWord</SPAN>)<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">ElseIf</SPAN> <SPAN class="">lBlnBuildString</SPAN> <SPAN class="Reserved">Then</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="">lStrNew</SPAN> <SPAN class="Operator">=</SPAN> <SPAN class="">lStrNew</SPAN> <SPAN class="Operator">&amp;</SPAN> <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;&lt;SPAN class=&quot;</SPAN><SPAN class="String">&quot;String&quot;</SPAN><SPAN class="String">&quot;&gt;&quot;</SPAN> <SPAN class="Operator">&amp;</SPAN> <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Method">Server.HTMLEncode</SPAN>(<SPAN class="">lStrString</SPAN>) <SPAN class="Operator">&amp;</SPAN> <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="String">&quot;&lt;/SPAN&gt;&quot;</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="">lStrString</SPAN> <SPAN class="Operator">=</SPAN> <SPAN class="String">&quot;&quot;</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="">lBlnBuildString</SPAN> <SPAN class="Operator">=</SPAN> <SPAN class="Reserved">False</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">End</SPAN> <SPAN class="Reserved">If</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Comment">'lStrNew = Replace(lStrNew, vbTab, &quot;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&quot;)</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Comment">'Response.Write &quot;. &quot;</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="">lStrResult</SPAN> <SPAN class="Operator">=</SPAN> <SPAN class="">lStrResult</SPAN> <SPAN class="Operator">&amp;</SPAN> <SPAN class="">lStrNew</SPAN> <SPAN class="Operator">&amp;</SPAN> <SPAN class="String">&quot;&lt;BR&gt;&quot;</SPAN> <SPAN class="Operator">&amp;</SPAN> <SPAN class="Constant">vbCrLf</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">Next</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="">lStrResult</SPAN> <SPAN class="Operator">=</SPAN> <SPAN class="String">&quot;&lt;DIV class=&quot;</SPAN><SPAN class="String">&quot;vbScript&quot;</SPAN><SPAN class="String">&quot;&gt;&quot;</SPAN> <SPAN class="Operator">&amp;</SPAN> <SPAN class="">lStrResult</SPAN> <SPAN class="Operator">&amp;</SPAN> <SPAN class="String">&quot;&lt;/DIV&gt;&quot;</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Comment">'Response.Write &quot;&lt;HR&gt;&quot;</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="">lStrResult</SPAN> <SPAN class="Operator">=</SPAN> <SPAN class="Function">Replace</SPAN>(<SPAN class="">lStrResult</SPAN>, <SPAN class="Constant">vbTab</SPAN>, <SPAN class="String">&quot;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&quot;</SPAN>)<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="">Colorize</SPAN> <SPAN class="Operator">=</SPAN> <SPAN class="">lStrResult</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Comment">' = Join(lStrLines, &quot;&lt;BR&gt;&quot;)</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">End</SPAN> <SPAN class="Reserved">Function</SPAN><BR>
<SPAN class="Comment">' -----------------------------------------------------------------------------</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">Private</SPAN> <SPAN class="Reserved">Function</SPAN> <SPAN class="">IsInArray</SPAN>(<SPAN class="Reserved">ByRef</SPAN> <SPAN class="">pStrLookupWord</SPAN>, <SPAN class="Reserved">ByRef</SPAN> <SPAN class="">pStrListAry</SPAN>, <SPAN class="">_</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">ByRef</SPAN> <SPAN class="">pBlnMatchCase</SPAN>)<BR>
<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">Dim</SPAN> <SPAN class="">lStrWord</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">For</SPAN> <SPAN class="Reserved">Each</SPAN> <SPAN class="">lStrWord</SPAN> <SPAN class="Reserved">In</SPAN> <SPAN class="">pStrListAry</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">If</SPAN> <SPAN class="">pBlnMatchCase</SPAN> <SPAN class="Reserved">And</SPAN> <SPAN class="">pStrLookupWord</SPAN> <SPAN class="Operator">=</SPAN> <SPAN class="">lStrWord</SPAN> <SPAN class="Reserved">Then</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="">IsInArray</SPAN> <SPAN class="Operator">=</SPAN> <SPAN class="Reserved">True</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">Exit</SPAN> <SPAN class="Reserved">For</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">ElseIf</SPAN> <SPAN class="Reserved">Not</SPAN>(<SPAN class="">pBlnMatchCase</SPAN>) <SPAN class="Reserved">And</SPAN>(<SPAN class="Function">LCase</SPAN>(<SPAN class="">pStrLookupWord</SPAN>) <SPAN class="Operator">=</SPAN> <SPAN class="Function">LCase</SPAN>(<SPAN class="">lStrWord</SPAN>))<SPAN class="Reserved">Then</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="">IsInArray</SPAN> <SPAN class="Operator">=</SPAN> <SPAN class="Reserved">True</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="">pStrLookupWord</SPAN> <SPAN class="Operator">=</SPAN> <SPAN class="">lStrWord</SPAN> <SPAN class="Comment">' Make correct Case</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">Exit</SPAN> <SPAN class="Reserved">For</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">End</SPAN> <SPAN class="Reserved">If</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">Next</SPAN><BR>
<BR>
&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">End</SPAN> <SPAN class="Reserved">Function</SPAN><BR>
<SPAN class="Comment">' -----------------------------------------------------------------------------</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">Private</SPAN> <SPAN class="Reserved">Function</SPAN> <SPAN class="">Tabs</SPAN>(<SPAN class="Reserved">ByRef</SPAN> <SPAN class="">pLngRealPosition</SPAN>)<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">Dim</SPAN> <SPAN class="">lLngIndex</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">Dim</SPAN> <SPAN class="">lLngSpaces</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Comment">' Hard-coded hack.  Need to do research for dynamic tab spacing.</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">Select</SPAN> <SPAN class="Reserved">Case</SPAN> <SPAN class="">pLngRealPosition</SPAN> <SPAN class="Reserved">Mod</SPAN> <SPAN class="">4</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">Case</SPAN> <SPAN class="">0</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="">pLngRealPosition</SPAN> <SPAN class="Operator">=</SPAN> <SPAN class="">pLngRealPosition</SPAN> <SPAN class="Operator">+</SPAN> <SPAN class="">0</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="">lLngSpaces</SPAN> <SPAN class="Operator">=</SPAN> <SPAN class="">1</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">Case</SPAN> <SPAN class="">1</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="">pLngRealPosition</SPAN> <SPAN class="Operator">=</SPAN> <SPAN class="">pLngRealPosition</SPAN> <SPAN class="Operator">+</SPAN> <SPAN class="">3</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="">lLngSpaces</SPAN> <SPAN class="Operator">=</SPAN> <SPAN class="">4</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">Case</SPAN> <SPAN class="">2</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="">pLngRealPosition</SPAN> <SPAN class="Operator">=</SPAN> <SPAN class="">pLngRealPosition</SPAN> <SPAN class="Operator">+</SPAN> <SPAN class="">2</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="">lLngSpaces</SPAN> <SPAN class="Operator">=</SPAN> <SPAN class="">3</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">Case</SPAN> <SPAN class="">3</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="">pLngRealPosition</SPAN> <SPAN class="Operator">=</SPAN> <SPAN class="">pLngRealPosition</SPAN> <SPAN class="Operator">+</SPAN> <SPAN class="">1</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="">lLngSpaces</SPAN> <SPAN class="Operator">=</SPAN> <SPAN class="">2</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">End</SPAN> <SPAN class="Reserved">Select</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">For</SPAN> <SPAN class="">lLngIndex</SPAN> <SPAN class="Operator">=</SPAN> <SPAN class="">1</SPAN> <SPAN class="Reserved">To</SPAN> <SPAN class="">lLngSpaces</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="">Tabs</SPAN> <SPAN class="Operator">=</SPAN> <SPAN class="">Tabs</SPAN> <SPAN class="Operator">&amp;</SPAN> <SPAN class="String">&quot;&amp;nbsp;&quot;</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">Next</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">End</SPAN> <SPAN class="Reserved">Function</SPAN><BR>
<SPAN class="Comment">' -----------------------------------------------------------------------------</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">Private</SPAN> <SPAN class="Reserved">Function</SPAN> <SPAN class="">Word</SPAN>(<SPAN class="Reserved">ByRef</SPAN> <SPAN class="">pStrWord</SPAN>)<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">Dim</SPAN> <SPAN class="">lStrWordType</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">If</SPAN> <SPAN class="">IsInArray</SPAN>(<SPAN class="">pStrWord</SPAN>, <SPAN class="">mStrReservedAry</SPAN>, <SPAN class="Reserved">False</SPAN>) <SPAN class="Reserved">Then</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="">lStrWordType</SPAN> <SPAN class="Operator">=</SPAN> <SPAN class="String">&quot;Reserved&quot;</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">ElseIf</SPAN> <SPAN class="">IsInArray</SPAN>(<SPAN class="">pStrWord</SPAN>, <SPAN class="">mStrConstantAry</SPAN>, <SPAN class="Reserved">False</SPAN>) <SPAN class="Reserved">Then</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="">lStrWordType</SPAN> <SPAN class="Operator">=</SPAN> <SPAN class="String">&quot;Constant&quot;</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">ElseIf</SPAN> <SPAN class="">IsInArray</SPAN>(<SPAN class="">pStrWord</SPAN>, <SPAN class="">mStrFunctionAry</SPAN>, <SPAN class="Reserved">False</SPAN>) <SPAN class="Reserved">Then</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="">lStrWordType</SPAN> <SPAN class="Operator">=</SPAN> <SPAN class="String">&quot;Function&quot;</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">ElseIf</SPAN> <SPAN class="">IsInArray</SPAN>(<SPAN class="">pStrWord</SPAN>, <SPAN class="">mStrMethodAry</SPAN>, <SPAN class="Reserved">False</SPAN>) <SPAN class="Reserved">Then</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="">lStrWordType</SPAN> <SPAN class="Operator">=</SPAN> <SPAN class="String">&quot;Method&quot;</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">ElseIf</SPAN> <SPAN class="">IsInArray</SPAN>(<SPAN class="">pStrWord</SPAN>, <SPAN class="">mStrPropertyAry</SPAN>, <SPAN class="Reserved">False</SPAN>) <SPAN class="Reserved">Then</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="">lStrWordType</SPAN> <SPAN class="Operator">=</SPAN> <SPAN class="String">&quot;Property&quot;</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">ElseIf</SPAN> <SPAN class="">IsInArray</SPAN>(<SPAN class="">pStrWord</SPAN>, <SPAN class="">mStrStatementAry</SPAN>, <SPAN class="Reserved">False</SPAN>) <SPAN class="Reserved">Then</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="">lStrWordType</SPAN> <SPAN class="Operator">=</SPAN> <SPAN class="String">&quot;Statement&quot;</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">ElseIf</SPAN> <SPAN class="">IsInArray</SPAN>(<SPAN class="">pStrWord</SPAN>, <SPAN class="">mStrOperatorAry</SPAN>, <SPAN class="Reserved">False</SPAN>) <SPAN class="Reserved">Then</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="">lStrWordType</SPAN> <SPAN class="Operator">=</SPAN> <SPAN class="String">&quot;Operator&quot;</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">Else</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="">lStrWordType</SPAN> <SPAN class="Operator">=</SPAN> <SPAN class="String">&quot;&quot;</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">End</SPAN> <SPAN class="Reserved">If</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="">Word</SPAN> <SPAN class="Operator">=</SPAN> <SPAN class="String">&quot;&lt;SPAN class=&quot;</SPAN><SPAN class="String">&quot;&quot;</SPAN> <SPAN class="Operator">&amp;</SPAN> <SPAN class="">lStrWordType</SPAN> <SPAN class="Operator">&amp;</SPAN> <SPAN class="String">&quot;&quot;</SPAN><SPAN class="String">&quot;&gt;&quot;</SPAN> <SPAN class="Operator">&amp;</SPAN> <SPAN class="Method">Server.HTMLEncode</SPAN>(<SPAN class="">pStrWord</SPAN>) <SPAN class="Operator">&amp;</SPAN> <SPAN class="String">&quot;&lt;/SPAN&gt;&quot;</SPAN><BR>
&nbsp;&nbsp;&nbsp;&nbsp;<SPAN class="Reserved">End</SPAN> <SPAN class="Reserved">Function</SPAN><BR>
<SPAN class="Reserved">End</SPAN> <SPAN class="Reserved">Class</SPAN><BR>
<SPAN class="Comment">' -----------------------------------------------------------------------------</SPAN><BR>
<SPAN class="">%</SPAN><SPAN class="Operator">&gt;</SPAN><BR>
</DIV></NOBR>