</TABLE>
		<P><FONT face="Verdana">Please take the time to get the latest version of your projects from Visual SourceSafe.
		You may contact your manager if you have any questions regarding 
				these events.</FONT></P>
		<P><FONT face="Verdana" size="1"> Visual SourceSafe Monitor software was authored by: <a href="http://www.lewismoten.com/">
					Lewis&nbsp;Moten</a>.</FONT></P>
	</body>
</html>
