/*
-----------------------------------------------------
Author: Lewis E. Moten III
Date: May, 16, 2004
Homepage: http://www.lewismoten.com
Email: lewis@moten.com
-----------------------------------------------------
*/

/*
--------------------------------------------
Elements
--------------------------------------------
*/
BODY
{
	background-repeat: no-repeat;
	border: 0px;
	background-color:ButtonFace;
	overflow: hidden;
	font-family: "Photoshop Large", Arial;
	font-size: 8pt;
	color: ButtonText;
	cursor: default;
}
INPUT
{
	position: absolute;
	font-family: "Photoshop Large", Arial;
	font-size: 8pt;
	color: WindowText;
	background-color: Window;
	cursor: text;
}
BUTTON
{
	position: absolute;
	font-family: "Photoshop Large", Arial;
	font-size: 8pt;
	color: ButtonText;
	cursor: default;
	background-color:ButtonFace;
}
DIV
{
	position: absolute;
	font-family: "Photoshop Large", Arial;
	font-size: 8pt;
	color: ButtonText;
	cursor: default;
	overflow: hidden;
}
/*
--------------------------------------------
Buttons
--------------------------------------------
*/
#btnOK
{
	top: 10px;
	left: 411px;
	border: 2px bevel;
	width: 60px;
	height: 20px;
}
#btnCustom
{
	top: 73px;
	left: 411px;
	color: ButtonText;
	border: 2px bevel;
	width: 60px;
	height: 20px;
}
#btnCancel
{
	top: 38px;
	left: 411px;
	color: ButtonText;
	border: 2px bevel;
	width: 60px;
	height: 20px;
}
#btnWebSafeColor
{
	border-style: none;
	border-width: 0px;
	background-image: url(WebSafe.gif);
	width: 11px;
	height: 12px;
	left: 383px;
	top: 69px;
}
#btnPrintSafeColor
{
	border-style: none;
	border-width: 0px;
	background-image: url(PrintSafe.gif);
	width: 13px;
	height: 13px;
	left: 382px;
	top: 34px;
}
/*
--------------------------------------------
Basic Controls
--------------------------------------------
*/
#lblSelectColorMessage
{
	top: 10px;
	left: 10px;
}
#pnlOldColor
{
	top: 65px;
	left: 317px;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	background-color: 00013A;
	width: 60px;
	height: 34px;
	z-index: 2;
}
#pnlOldColorBorder
{
	top: 65px;
	left: 316px;
	border-left: 1px solid ThreeDShadow;
	border-bottom: 1px solid ThreeDHighlight;
	border-right: 1px solid ThreeDHighlight;
	width: 62px;
	height: 35px;
	z-index: 1;
}
#pnlNewColor
{
	background-color: #2729AD;
	top: 31px;
	left: 317px;
	border-left: 1px solid black;
	border-top: 1px solid black;
	border-right: 1px solid black;
	width: 60px;
	height: 34px;
	z-index: 2;
}
#pnlNewColorBorder
{
	top: 30px;
	left: 316px;
	border-left: 1px solid ThreeDShadow;
	border-top: 1px solid ThreeDShadow;
	border-right: 1px solid ThreeDHighlight;
	width: 62px;
	height: 35px;
	z-index: 1;
}
#chkOnlyWebColors
{
	top: 299px;
	left: 10px;
	width: 13px;
	height: 13px;
	cursor: default;
}
#lblOnlyWebColors
{
	top: 299px;
	left: 28px;
}
#pnlWebSafeColor
{
	top: 86px;
	left: 383px;
	width: 12px;
	height: 12px;
	border: solid 1px black;
	background-color: #333399;
	z-index: 2;
}
#pnlWebSafeColorBorder
{
	top: 85px;
	left: 382px;
	width: 14px;
	height: 14px;
	border-left: 1px solid ThreeDShadow;
	border-top: 1px solid ThreeDShadow;
	border-right: 1px solid ThreeDHighlight;
	border-bottom: 1px solid ThreeDHighlight;
	z-index: 1;
}
#pnlPrintSafeColor
{
	top: 52px;
	left: 383px;
	width: 12px;
	height: 12px;
	border: solid 1px black;
	background-color: #363F9A;
	z-index: 2;
}
#pnlPrintSafeColorBorder
{
	top: 51px;
	left: 382px;
	width: 14px;
	height: 14px;
	border-left: 1px solid ThreeDShadow;
	border-top: 1px solid ThreeDShadow;
	border-right: 1px solid ThreeDHighlight;
	border-bottom: 1px solid ThreeDHighlight;
	z-index: 1;
}
#pnlVerticalPosition
{
	width: 35px;
	height: 11px;
	background-image: url(VerticalPosition.gif);
	left: 274px;
	top: 113px;
}
#pnlGradientPosition
{
	width: 11px;
	height: 11px;
	background-image: url(GradientPositionLight.gif);
	left: 205px;
	top: 109px;
	z-index: 98;
}
/*
--------------------------------------------
Gradient
--------------------------------------------
*/
#pnlGradient_Top
{
	top: 32px;
	left: 12px;
	height: 256px;
	width: 256px;
	z-index: 99;
	cursor: url(Color.cur);
}

#pnlGradient_Background2
{
	top: 31px;
	left: 11px;
	height: 258px;
	width: 258px;
	z-index: 2;
	border: solid 1px black;
}
#pnlGradient_Background1
{
	top: 30px;
	left: 10px;
	height: 260px;
	width: 260px;
	z-index: 1;
	border: solid 1px;
	border-top-color: ThreeDShadow;
	border-left-color: ThreeDShadow;
	border-bottom-color: ThreeDHighlight;
	border-right-color: ThreeDHighlight;
}
/*
--------------------------------------------
Vertical Bar
--------------------------------------------
*/
#pnlVertical_Top
{
	top: 32px;
	left: 282px;
	height: 256px;
	width: 19px;
	z-index: 98;
}

#pnlVertical_Background2
{
	top: 31px;
	left: 281px;
	height: 258px;
	width: 21px;
	z-index: 2;
	border: solid 1px black;
}
#pnlVertical_Background1
{
	top: 30px;
	left: 280px;
	height: 260px;
	width: 23px;
	z-index: 1;
	border: solid 1px;
	border-top-color: ThreeDShadow;
	border-left-color: ThreeDShadow;
	border-bottom-color: ThreeDHighlight;
	border-right-color: ThreeDHighlight;
}




/*
--------------------------------------------------------
Color Mode: Hue / Saturation / Brightness (HSB)
--------------------------------------------------------
*/
#pnlSpectrum_Background
{
	top: 32px;
	left: 282px;
	height: 256px;
	width: 19px;
	background-color: red;
	z-index: 3;
}
#pnlSpectrum_RedMagenta
{
	top: 32px;
	left: 282px;
	height: 42px;
	width: 19px;
	background-color: #ff00ff;
	z-index: 5;
	FILTER: Alpha(Opacity=0, FinishOpacity=100, Style=1, startY=0, finishY=100, startX=0, finishX=0); 
}
#pnlSpectrum_MagentaBlue
{
	top: 74px;
	left: 282px;
	height: 43px;
	width: 19px;
	background-color: #ff00ff;
	z-index: 5;
	FILTER: Alpha(Opacity=100, FinishOpacity=0, Style=1, startY=0, finishY=100, startX=0, finishX=0); 
}
#pnlSpectrum_Blue
{
	top: 74px;
	left: 282px;
	height: 86px;
	width: 19px;
	background-color: #0000ff;
	z-index: 4;
}
#pnlSpectrum_BlueCyan
{
	top: 117px;
	left: 282px;
	height: 43px;
	width: 19px;
	background-color: #00ffff;
	z-index: 5;
	FILTER: Alpha(Opacity=0, FinishOpacity=100, Style=1, startY=0, finishY=100, startX=0, finishX=0); 
}
#pnlSpectrum_CyanGreen
{
	top: 160px;
	left: 282px;
	height: 43px;
	width: 19px;
	background-color: #00ffff;
	z-index: 5;
	FILTER: Alpha(Opacity=100, FinishOpacity=0, Style=1, startY=0, finishY=100, startX=0, finishX=0); 
}
#pnlSpectrum_Green
{
	top: 160px;
	left: 282px;
	height: 86px;
	width: 19px;
	background-color: #00ff00;
	z-index: 4;
}
#pnlSpectrum_GreenYellow
{
	top: 203px;
	left: 282px;
	height: 43px;
	width: 19px;
	background-color: #ffff00;
	z-index: 5;
	FILTER: Alpha(Opacity=0, FinishOpacity=100, Style=1, startY=0, finishY=100, startX=0, finishX=0); 
}
#pnlSpectrum_YellowRed
{
	top: 246px;
	left: 282px;
	height: 42px;
	width: 19px;
	background-color: #ffff00;
	z-index: 5;
	FILTER: Alpha(Opacity=100, FinishOpacity=0, Style=1, startY=0, finishY=100, startX=0, finishX=0); 
}
#pnlGradient_Black
{
	top: 32px;
	left: 12px;
	height: 256px;
	width: 256px;
	background-color: Black;
	FILTER: Alpha(Opacity=100, FinishOpacity=0, Style=1, startY=100, finishY=0, startX=0, finishX=0); 
	z-index: 5;
}
#pnlGradient_White
{
	top: 32px;
	left: 12px;
	height: 256px;
	width: 256px;
	background-color: White;
	FILTER: Alpha(Opacity=100, FinishOpacity=0, Style=1, startX=0, finishX=100, startY=0, finishY=0); 
	z-index: 4;
}
#pnlGradient_Hue
{
	top: 32px;
	left: 12px;
	height: 256px;
	width: 256px;
	background-color: 0006FF;
	z-index: 3;
}
#rdoHSB_Hue
{
	background-color: ButtonFace;
	color: ButtonText;
	cursor: default;
	top: 119px;
	left: 317px;
	width: 12px;
	height: 12px;
}
#lblHSB_Hue
{
	top: 119px;
	left: 334px;
}
#txtHSB_Hue
{
	top: 115px;
	left: 348px;
	border-style: inset;
	border-width: 2px;
	width: 31px;
	height: 22px;
}
#lblUnitHSB_Hue
{
	top: 117px;
	left: 380px;
	font-size: 10pt;
}
#rdoHSB_Saturation
{
	background-color: ButtonFace;
	color: ButtonText;
	cursor: default;
	top: 144px;
	left: 317px;
	width: 12px;
	height: 12px;
}
#lblHSB_Saturation
{
	top: 144px;
	left: 334px;
}
#txtHSB_Saturation
{
	top: 140px;
	left: 348px;
	border-style: inset;
	border-width: 2px;
	width: 31px;
	height: 22px;
}
#lblUnitHSB_Saturation
{
	top: 143px;
	left: 382px;
}
#rdoHSB_Brightness
{
	background-color: ButtonFace;
	color: ButtonText;
	cursor: default;
	top: 169px;
	left: 317px;
	width: 12px;
	height: 12px;
}
#lblHSB_Brightness
{
	top: 169px;
	left: 334px;
}
#txtHSB_Brightness
{
	top: 165px;
	left: 348px;
	border-style: inset;
	border-width: 2px;
	width: 31px;
	height: 22px;
}
#lblUnitHSB_Brightness
{
	top: 168px;
	left: 382px;
}
/*
--------------------------------------------------------
Color Mode: Red / Green / Blue (RGB a.k.a. additive)
--------------------------------------------------------
*/
#rdoRGB_Red
{
	background-color: ButtonFace;
	color: ButtonText;
	cursor: default;
	top: 199px;
	left: 317px;
	width: 12px;
	height: 12px;
}
#lblRGB_Red
{
	top: 199px;
	left: 334px;
}
#txtRGB_Red
{
	top: 195px;
	left: 348px;
	border-style: inset;
	border-width: 2px;
	width: 31px;
	height: 22px;
}
#rdoRGB_Green
{
	background-color: ButtonFace;
	color: ButtonText;
	cursor: default;
	top: 224px;
	left: 317px;
	width: 12px;
	height: 12px;
}
#lblRGB_Green
{
	top: 224px;
	left: 334px;
}
#txtRGB_Green
{
	top: 220px;
	left: 348px;
	border-style: inset;
	border-width: 2px;
	width: 31px;
	height: 22px;
}
#rdoRGB_Blue
{
	background-color: ButtonFace;
	color: ButtonText;
	cursor: default;
	top: 249px;
	left: 317px;
	width: 12px;
	height: 12px;
}
#lblRGB_Blue
{
	top: 249px;
	left: 334px;
}
#txtRGB_Blue
{
	top: 245px;
	left: 348px;
	border-style: inset;
	border-width: 2px;
	width: 31px;
	height: 22px;
}
/*
--------------------------------------------------------
Color Mode: Luminancy a/b (Lab)
--------------------------------------------------------
*/
#rdoLab_Luminancy
{
	background-color: ButtonFace;
	color: ButtonText;
	cursor: default;
	top: 119px;
	left: 402px;
	width: 12px;
	height: 12px;
}
#lblLab_Luminancy
{
	top: 119px;
	left: 419px;
}
#txtLab_Luminancy
{
	top: 115px;
	left: 433px;
	border-style: inset;
	border-width: 2px;
	width: 38px;
	height: 22px;
}
#rdoLab_A
{
	background-color: ButtonFace;
	color: ButtonText;
	cursor: default;
	top: 144px;
	left: 402px;
	width: 12px;
	height: 12px;
}
#lblLab_A
{
	top: 144px;
	left: 419px;
}
#txtLab_A
{
	top: 140px;
	left: 433px;
	border-style: inset;
	border-width: 2px;
	width: 38px;
	height: 22px;
}
#rdoLab_B
{
	background-color: ButtonFace;
	color: ButtonText;
	cursor: default;
	top: 169px;
	left: 402px;
	width: 12px;
	height: 12px;
}
#lblLab_B
{
	top: 169px;
	left: 419px;
}
#txtLab_B
{
	top: 165px;
	left: 433px;
	border-style: inset;
	border-width: 2px;
	width: 38px;
	height: 22px;
}
/*
--------------------------------------------------------
Color Mode: Cyan / Magenta / Yellow / Black (CMYK a.k.a. Subtractive)
--------------------------------------------------------
*/
#lblCMYK_Cyan
{
	top: 198px;
	left: 410px;
	text-align: right;
	width: 20px;
}
#txtCMYK_Cyan
{
	top: 195px;
	left: 433px;
	border-style: inset;
	border-width: 2px;
	width: 31px;
	height: 22px;
}
#lblUnitCMYK_Cyan
{
	top: 198px;
	left: 467px;
}
#lblCMYK_Magenta
{
	top: 223px;
	left: 410px;
	text-align: right;
	width: 20px;
}
#txtCMYK_Magenta
{
	top: 220px;
	left: 433px;
	border-style: inset;
	border-width: 2px;
	width: 31px;
	height: 22px;
}
#lblUnitCMYK_Magenta
{
	top: 223px;
	left: 467px;
}
#lblCMYK_Yellow
{
	top: 248px;
	left: 410px;
	text-align: right;
	width: 20px;
}
#txtCMYK_Yellow
{
	top: 245px;
	left: 433px;
	border-style: inset;
	border-width: 2px;
	width: 31px;
	height: 22px;
}
#lblUnitCMYK_Yellow
{
	top: 248px;
	left: 467px;
}
#lblCMYK_Black
{
	top: 273px;
	left: 410px;
	text-align: right;
	width: 20px;
}
#txtCMYK_Black
{
	top: 270px;
	left: 433px;
	border-style: inset;
	border-width: 2px;
	width: 31px;
	height: 22px;
}
#lblUnitCMYK_Black
{
	top: 273px;
	left: 467px;
}
/*
--------------------------------------------------------
Color Mode: Hex (Hex values of RGB a.k.a. HTML Color value)
--------------------------------------------------------
*/
#lblHex
{
	top: 282px;
	left: 316px;
}
#txtHex
{
	top: 278px;
	left: 335px;
	border-style: inset;
	border-width: 2px;
	width: 56px;
	height: 22px;
}
